{% extends 'frontend.html.twig' %}

{% block title %}Utilidades{% endblock %}

{% block body %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{path('home_inicio')}}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{path('utilidades_inicio')}}">Utilidades</a></li>
            <li class="breadcrumb-item active" aria-current="page">Consumir API Rest con HTTP Client</li>
        </ol>
    </nav>
<h1>Consumir API Rest con HTTP Client</h1>
<p>(composer require symfony/http-client)</p>
<p class="d-flex justify-content-end">
    <a href="" class="btn btn-success">
        <i class="fas fa-check"></i>
        Crear</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for dato in response.toArray() %}
                <tr>
                    <td>{{ dato.id }}</td>
                    <td>{{ dato.nombre }}</td>
                </tr>
            {% endfor %}
    </table>
</div>

{% endblock %}
