<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF ejemplo</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>
<body>
    <div style="margin: 0 auto;display: block; width: 500px;">
        <h1>Título</h1>
        <table width="100%" border="1">
            <tr>
                <th colspan="2"><img src="{{imageSrc}}"></th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td>Juan</td>
                <td>Pérez</td>
                <td>30</td>
            </tr>
            <tr>
                <td>María</td>
                <td>Gómez</td>
                <td>25</td>
            </tr>
            <tr>
                <td>Pedro</td>
                <td>García</td>
                <td>40</td>
            </tr>
        </table>
    </div>
</body>
</html>